.availabilityPanel {
  height: 100vh;
  background: #fbfbfb;
  float: left;
}

.availabilityContainer {
  padding: 0;
}

.availabilityPanelHeader {
  padding: 1em 0;
  text-align: center;
  border-bottom: thin solid #282c34;
}

.calender {
  border-left: thin solid #cdcbce;
  background: #fff;
  height: 100vh;
  float: right;
  overflow-x: scroll;
}
